@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.dark {
  --background: 6, 102, 6;
  --primary: 22, 163, 74;
  --shadowColor: 173, 255, 47, 0.75;
  --myOpacity: 0.8;
}

.light {
  --background: 42, 6, 205;
  --primary: 214, 214, 43;
  --shadowColor: 244, 247, 18, 1;
  --myOpacity: 0.6;
}

body {
  background: theme("colors.background");
  color: theme("colors.primary");
}

/* HEADER */
.wrap {
  position: relative;
  overflow: hidden;
}

.content {
  transition: translate 0.5s;
  translate: 0 -100%;
}

.opened {
  translate: 0 0;
}

.content {
  background: none;
  border: 0;

  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.center {
  .focus {
    color: theme("colors.primary");
  }

  &::before,
  &::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: 2px dashed theme("colors.primary");
    border-bottom: 2px dashed theme("colors.primary");
    transform: scale3d(0, 1, 1);
  }

  &::after {
    border-left: 2px dashed theme("colors.primary");
    border-right: 2px dashed theme("colors.primary");
    transform: scale3d(1, 0, 1);
  }

  &.focus::before,
  &.focus::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
    filter: drop-shadow(2px 2px 4px theme("colors.shadowColor"));
  }
}

.inputHidde {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s ease infinite;
}

.input-mirror {
  display: block;
  min-height: 27.5px;
  width: 20rem;
  word-break: break-all;
  white-space: pre-wrap;
  position: relative;
  border: 1px dashed theme("colors.primary");
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
  filter: drop-shadow(1px 1px 2px theme("colors.shadowColor") 0.7);
  > span:before {
    color: theme("colors.background");
    background: theme("colors.primary");
    height: 1rem;
    width: 10px;
  }
}

/* ALERT */
#alert {
  position: absolute;
  top: 35%;
  left: 35%;
  z-index: 100;
}
