@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* :root {
  --background: 42, 6, 205;
  --primary: 255, 255, 0;
  --shadowColor: 244, 247, 18;
  --my-opacity: 0.6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 6, 102, 6;
    --primary: 22, 163, 74;
    --shadowColor: 114, 241, 76;
    --my-opacity: 0.8;
  }
} */

.dark {
  --background: 6, 102, 6;
  --primary: 22, 163, 74;
  --shadowColor: 173, 255, 47, 0.75;
  --myOpacity: 0.8;
}

.light {
  --background: 42, 6, 205;
  --primary: 214, 214, 43;
  --shadowColor: 244, 247, 18, 0.75;
  --myOpacity: 0.6;
}

body {
  background: theme("colors.background");
  font-family: Arial, Helvetica, sans-serif;
  color: theme("colors.primary");
  filter: theme("dropShadow.shadow");
}

/* Change Autocomplete styles in Chrome*/
/* input,
textarea,
select,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:focus-visible,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:focus-visible,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:focus-visible,
.input,
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:focus-visible 
{
  -webkit-text-fill-color: theme("colors.primary");
  -webkit-box-shadow: inset 0 0 0 100px unset;
  -webkit-transition:
    none 0s 600000s,
    theme("colors.primary") 0s 600000s;
  border: 1px dashed theme("colors.primary");
  background: none;
  outline-offset: none;
  outline: none;
  caret-color: transparent;
  filter: none;
  color: theme("colors.primary");
  -webkit-text-fill-color: theme("colors.primary");
  -webkit-box-shadow: 0 0 0px 40rem unset inset;
  -webkit-background-clip: text;
  background-clip: text;
  filter: theme("dropShadow.shadow");
} */

/* CUSTOM INPUT WITH CARET */
/* @keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s ease infinite;
}

.clip-rect {
  clip: rect(1px, 1px, 1px, 1px);
}

.clip-path-inset-50 {
  clip-path: inset(50%);
} */

/* HEADER */
.wrap {
  position: relative;
  overflow: hidden;
}

.content {
  transition: translate 0.5s;
  translate: 0 -100%;
}

.opened {
  translate: 0 0;
}

.content {
  background: none;
  border: 0;

  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.center {
  .focus {
    color: theme("colors.primary");
    /* filter: theme("dropShadow.shadow"); */
  }

  &::before,
  &::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: 2px dashed theme("colors.primary");
    border-bottom: 2px dashed theme("colors.primary");
    /* filter: theme("dropShadow.shadow"); */
    transform: scale3d(0, 1, 1);
  }

  &::after {
    border-left: 2px dashed theme("colors.primary");
    border-right: 2px dashed theme("colors.primary");
    /* filter: theme("dropShadow.shadow"); */
    transform: scale3d(1, 0, 1);
  }

  &.focus::before,
  &.focus::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
    /* filter: blur(0.5px);
    filter: theme("dropShadow.shadow"); */
  }
}

.inputHidde {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s ease infinite;
}

.input-mirror {
  display: block;
  min-height: 27.5px;
  width: 20rem;
  word-break: break-all;
  white-space: pre-wrap;
  position: relative;
  border: 1px dashed theme("colors.primary");
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;

  > span:before {
    color: theme("colors.background");
    background: theme("colors.primary");
    height: 1rem;
    width: 10px;
  }
}
